<h2 class="center">Products</h2>
<hr />
<div class="row">
    <div class="col s12 m6 offset-m3">
        <button class="btn" id="toggle">Show Form</button>
        <ul id="products-list">
        <% @products.each do |product| %>
            <%= render partial: 'product', locals: { product: product } %>
            <% end %>
        </ul>
    </div>
</div>
